body{
    margin: 0;
    padding: 0;
    background-color: #282e3a;
    text-align: center;
}
#time{
    font-size: 45px;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
#detail{
    margin-top: 5em;  
    color: #ffffff;
    font-size: 15px;
    display: inline-block;
}
form label{
    color: #ffffff;
    font-size: 20px;
}
h1{
    color: #ffffff;
    font-size: 70px;
    font-weight: 800;
    margin-top: 70px;
}

#showmns{
    background-color: #f6bb57;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 20px;
    
}
#showscs{
    background-color: #3ecb74;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 20px
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
input{
    text-align: center;
    border-radius: 12px;
}
#btnct{
    margin: 1em;
    border-radius: 12px;
    outline: none;
    padding: 10px 15px 10px 15px;

}